.flex {
    display: flex;
    justify-content: space-between;
}

.container {
    margin-top:20px;
}


#pokedex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container-button {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3px;
}

.botoncito{
    display: flex;
    justify-content: right;
    margin-bottom: 10px;
}