<div class="container">
  <h2>Pokedex</h2>

  <p>Hola, ¿qué tal? Esto es una Pokedex. Si naciste ayer o tenés mas de 80 y no sabés que es una Pokedex, es un librito
    donde guardas la información de todos los Pokemones que capturaste.
    ¿Por qué hicimos nuestro TP sobre pokemones? <b>No hay por qué</b></p>
  <div class="botoncito">

    <button type="button" class="btn btn-primary btn-sm" routerLink="/add">Agregar Pokemon</button>
  </div>

  <section id="pokedex">
    <div class="card bg-light mb-3" style="max-width: 20rem;" *ngFor="let pokemon of pokedex">
      <h3 class="card-header">{{pokemon.pokeName}}</h3>
      <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200"
        aria-label="Placeholder: Imagen de" focusable="false" role="img" preserveAspectRatio="xMidYMid slice"
        viewBox="0 0 218 180" style="font-size:1.125rem;text-anchor:middle">
        <rect width="100%" height="100%" fill="#868e96"></rect>
        <image [attr.xlink:href]="pokemon.pokeImg" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
      </svg>
      <div class="card-body">
        <p class="card-text">{{pokemon.pokeDesc}}</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Número: {{pokemon.pokeNum}}</li>
          <li class="list-group-item">Tipo: {{pokemon.pokeType}}</li>
        </ul>
      </div>
      <div class="container-button">
        <button type="button" class="btn btn-outline-info btn-sm">Editar</button>
        <button type="button" class="btn btn-outline-danger btn-sm"
          (click)="eliminarPokemon(pokemon._id)">Eliminar</button>
      </div>
    </div>
  </section>