.flex {
    display: flex;
    justify-content: space-between;
}

.container {
    margin-top:70px;
}

table {
    margin-top:40px;
    margin-right:20px;
}


.flexito
{
    display:flex;
    justify-content:space-evenly;
}