<div class="container">
    <div class="flex">
        <h2>Agregar o modificar productos</h2>
    </div>
</div>

<div class="container">
    <form action="" id="agregarProducto">

    </form>
</div>


<div class="container">
    <form id="productoForm">
        Nombre<input type="text" id="formNombre" class="form-control" placeholder="Ingrese el nombre del producto">
        Descripción<input type="text" id="formDescripcion" class="form-control"
            placeholder="Haga una descripción del producto">
        Precio<input type="text" id="formPrecio" class="form-control" placeholder="Ingrese el precio del producto">
        Stock<input type="text" id="formStock" class="form-control" placeholder="Ingrese la cantidad disponible">
        <div class="flexito">
            <button type="submit" class="btn btn-primary btn-sm separador">Agregar</button>
            <button type="volver" class="btn btn-primary btn-sm separador" routerLink="/">Volver</button>
        </div>
    </form>

</div>