<div class="container">
    <h2>Agregar producto</h2>
    <form (ngSubmit)="agregarProducto()" [formGroup]="productoForm">

        Nombre<input type="text" formControlName="name" class="form-control"
            placeholder="Ingrese el nombre del producto">
        Descripción<input type="text" formControlName="description" class="form-control"
            placeholder="Haga una descripción del producto">
        Precio<input type="number" formControlName="price" class="form-control"
            placeholder="Ingrese el precio del producto">
        Stock<input type="number" formControlName="stock" class="form-control"
            placeholder="Ingrese la cantidad disponible">
            <div class="flexito">
                <button type="submit" class="btn btn-primary btn-sm separador">Agregar</button>
                <button type="button" class="btn btn-primary btn-sm separador" routerLink="/">Volver</button>
            </div>
    </form>
   
</div>