.flex {
    display: flex;
    justify-content: center;
}

.container {
    margin-top:70px;
}

form {
    margin-top:40px;
    margin-right:20%;
    margin-left:20%;
}


.flexito
{
    display:flex;
    justify-content:right;
    margin-top: 15px;
}